In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
path='C:/Users/FT-LT74/Desktop/notes/github/time-series-forecasting-store-sales/data/interim/'

In [8]:
df=pd.read_csv(path+'merged_df.csv')
df

C:\Users\FT-LT74\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,13,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,transactions,dcoilwtico,holiday_type,locale,locale_name,description,transferred
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2693786,2647454,2017-01-29,41,PREPARED FOODS,76.150,1,Machala,El Oro,D,4,1341.0,NaN,NaN,NaN,NaN,NaN,NaN
2693787,2647455,2017-01-29,41,PRODUCE,2766.392,4,Machala,El Oro,D,4,1341.0,NaN,NaN,NaN,NaN,NaN,NaN
2693788,2647456,2017-01-29,41,SCHOOL AND OFFICE SUPPLIES,1.000,0,Machala,El Oro,D,4,1341.0,NaN,NaN,NaN,NaN,NaN,NaN
2693789,2647457,2017-01-29,41,SEAFOOD,13.652,1,Machala,El Oro,D,4,1341.0,NaN,NaN,NaN,NaN,NaN,NaN
2693790,2647458,2017-01-29,42,AUTOMOTIVE,8.000,0,Cuenca,Azuay,D,2,1424.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054348 entries, 0 to 3054347
Data columns (total 17 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int64
 1   date          object
 2   store_nbr     int64
 3   family        object
 4   sales         float64
 5   onpromotion   int64
 6   city          object
 7   state         object
 8   type_x        object
 9   cluster       int64
 10  transactions  float64
 11  dcoilwtico    float64
 12  type_y        object
 13  locale        object
 14  locale_name   object
 15  description   object
 16  transferred   object
dtypes: float64(3), int64(4), object(10)
memory usage: 396.1+ MB

## check for NAs

In [7]:
df.isna().any()

id              False
date            False
store_nbr       False
family          False
sales           False
onpromotion     False
city            False
state           False
type_x          False
cluster         False
transactions     True
dcoilwtico       True
type_y           True
locale           True
locale_name      True
description      True
transferred      True
dtype: bool

## check is holiday is celebrated where the store is located

matching by:
* locale='Local', store's city
* locale='Regional', store's state

In [15]:
df['city'].unique()

array(['Quito', 'Cayambe', 'Latacunga', 'Riobamba', 'Ibarra',
       'Santo Domingo', 'Guaranda', 'Puyo', 'Ambato', 'Guayaquil',
       'Salinas', 'Daule', 'Babahoyo', 'Quevedo', 'Playas', 'Libertad',
       'Cuenca', 'Loja', 'Machala', 'Esmeraldas', 'Manta', 'El Carmen'],
      dtype=object)

In [10]:
df['state'].unique()

array(['Pichincha', 'Cotopaxi', 'Chimborazo', 'Imbabura',
       'Santo Domingo de los Tsachilas', 'Bolivar', 'Pastaza',
       'Tungurahua', 'Guayas', 'Santa Elena', 'Los Rios', 'Azuay', 'Loja',
       'El Oro', 'Esmeraldas', 'Manabi'], dtype=object)

In [11]:
df['locale_name'].unique()

array(['Ecuador', nan, 'Manta', 'Cotopaxi', 'Cuenca', 'Libertad',
       'Riobamba', 'Puyo', 'Guaranda', 'Imbabura', 'Machala', 'Latacunga',
       'El Carmen', 'Santo Domingo', 'Cayambe', 'Guayaquil', 'Esmeraldas',
       'Ambato', 'Ibarra', 'Quevedo', 'Santo Domingo de los Tsachilas',
       'Santa Elena', 'Quito', 'Loja', 'Salinas'], dtype=object)

In [16]:
df['locale'].unique()

array(['National', nan, 'Local', 'Regional'], dtype=object)

In [25]:
df[(df['state']==df['locale_name']) & (df['locale']=='Regional')]

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,transactions,dcoilwtico,holiday_type,locale,locale_name,description,transferred
160479,160479,2013-04-01,12,AUTOMOTIVE,3.000,0,Latacunga,Cotopaxi,C,15,1313.0,97.10,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
160480,160480,2013-04-01,12,BABY CARE,0.000,0,Latacunga,Cotopaxi,C,15,1313.0,97.10,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
160481,160481,2013-04-01,12,BEAUTY,4.000,0,Latacunga,Cotopaxi,C,15,1313.0,97.10,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
160482,160482,2013-04-01,12,BEVERAGES,762.000,0,Latacunga,Cotopaxi,C,15,1313.0,97.10,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
160483,160483,2013-04-01,12,BOOKS,0.000,0,Latacunga,Cotopaxi,C,15,1313.0,97.10,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2543503,2500735,2016-11-07,25,POULTRY,129.753,0,Salinas,Santa Elena,D,1,806.0,44.88,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
2543504,2500736,2016-11-07,25,PREPARED FOODS,53.432,0,Salinas,Santa Elena,D,1,806.0,44.88,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
2543505,2500737,2016-11-07,25,PRODUCE,1356.136,0,Salinas,Santa Elena,D,1,806.0,44.88,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
2543506,2500738,2016-11-07,25,SCHOOL AND OFFICE SUPPLIES,0.000,0,Salinas,Santa Elena,D,1,806.0,44.88,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
2543507,2500739,2016-11-07,25,SEAFOOD,2.392,2,Salinas,Santa Elena,D,1,806.0,44.88,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False

In [30]:
df[(df['city']==df['locale_name'])  & (df['locale']=='Local')]

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,transactions,dcoilwtico,holiday_type,locale,locale_name,description,transferred
108471,108471,2013-03-02,52,AUTOMOTIVE,0.000,0,Manta,Manabi,A,11,NaN,NaN,Holiday,Local,Manta,Fundacion de Manta,False
108472,108472,2013-03-02,52,BABY CARE,0.000,0,Manta,Manabi,A,11,NaN,NaN,Holiday,Local,Manta,Fundacion de Manta,False
108473,108473,2013-03-02,52,BEAUTY,0.000,0,Manta,Manabi,A,11,NaN,NaN,Holiday,Local,Manta,Fundacion de Manta,False
108474,108474,2013-03-02,52,BEVERAGES,0.000,0,Manta,Manabi,A,11,NaN,NaN,Holiday,Local,Manta,Fundacion de Manta,False
108475,108475,2013-03-02,52,BOOKS,0.000,0,Manta,Manabi,A,11,NaN,NaN,Holiday,Local,Manta,Fundacion de Manta,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2626065,2580925,2016-12-22,25,POULTRY,178.269,0,Salinas,Santa Elena,D,1,956.0,51.98,Holiday,Local,Salinas,Cantonizacion de Salinas,False
2626067,2580926,2016-12-22,25,PREPARED FOODS,35.430,1,Salinas,Santa Elena,D,1,956.0,51.98,Holiday,Local,Salinas,Cantonizacion de Salinas,False
2626069,2580927,2016-12-22,25,PRODUCE,1514.369,7,Salinas,Santa Elena,D,1,956.0,51.98,Holiday,Local,Salinas,Cantonizacion de Salinas,False
2626071,2580928,2016-12-22,25,SCHOOL AND OFFICE SUPPLIES,0.000,0,Salinas,Santa Elena,D,1,956.0,51.98,Holiday,Local,Salinas,Cantonizacion de Salinas,False
2626073,2580929,2016-12-22,25,SEAFOOD,2.000,0,Salinas,Santa Elena,D,1,956.0,51.98,Holiday,Local,Salinas,Cantonizacion de Salinas,False

In [26]:
df[(df['state']==df['locale_name']) & (df['locale']=='Local')]  ## city and state name are the same

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,transactions,dcoilwtico,holiday_type,locale,locale_name,description,transferred
393261,386133,2013-08-05,43,AUTOMOTIVE,4.000,0,Esmeraldas,Esmeraldas,E,10,1411.0,106.61,Holiday,Local,Esmeraldas,Fundacion de Esmeraldas,False
393262,386134,2013-08-05,43,BABY CARE,0.000,0,Esmeraldas,Esmeraldas,E,10,1411.0,106.61,Holiday,Local,Esmeraldas,Fundacion de Esmeraldas,False
393263,386135,2013-08-05,43,BEAUTY,0.000,0,Esmeraldas,Esmeraldas,E,10,1411.0,106.61,Holiday,Local,Esmeraldas,Fundacion de Esmeraldas,False
393264,386136,2013-08-05,43,BEVERAGES,2081.000,0,Esmeraldas,Esmeraldas,E,10,1411.0,106.61,Holiday,Local,Esmeraldas,Fundacion de Esmeraldas,False
393265,386137,2013-08-05,43,BOOKS,0.000,0,Esmeraldas,Esmeraldas,E,10,1411.0,106.61,Holiday,Local,Esmeraldas,Fundacion de Esmeraldas,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2600989,2556439,2016-12-08,38,POULTRY,110.832,0,Loja,Loja,D,4,1394.0,50.84,Holiday,Local,Loja,Fundacion de Loja,False
2600990,2556440,2016-12-08,38,PREPARED FOODS,86.219,2,Loja,Loja,D,4,1394.0,50.84,Holiday,Local,Loja,Fundacion de Loja,False
2600991,2556441,2016-12-08,38,PRODUCE,1503.744,9,Loja,Loja,D,4,1394.0,50.84,Holiday,Local,Loja,Fundacion de Loja,False
2600992,2556442,2016-12-08,38,SCHOOL AND OFFICE SUPPLIES,0.000,0,Loja,Loja,D,4,1394.0,50.84,Holiday,Local,Loja,Fundacion de Loja,False
2600993,2556443,2016-12-08,38,SEAFOOD,3.563,0,Loja,Loja,D,4,1394.0,50.84,Holiday,Local,Loja,Fundacion de Loja,False