In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
path='C:/Users/FT-LT74/Desktop/notes/github/time-series-forecasting-store-sales/data/interim/'

In [8]:
df=pd.read_csv(path+'merged_df.csv')
df

C:\Users\FT-LT74\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,13,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,transactions,dcoilwtico,holiday_type,locale,locale_name,description,transferred
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2693786,2647454,2017-01-29,41,PREPARED FOODS,76.150,1,Machala,El Oro,D,4,1341.0,NaN,NaN,NaN,NaN,NaN,NaN
2693787,2647455,2017-01-29,41,PRODUCE,2766.392,4,Machala,El Oro,D,4,1341.0,NaN,NaN,NaN,NaN,NaN,NaN
2693788,2647456,2017-01-29,41,SCHOOL AND OFFICE SUPPLIES,1.000,0,Machala,El Oro,D,4,1341.0,NaN,NaN,NaN,NaN,NaN,NaN
2693789,2647457,2017-01-29,41,SEAFOOD,13.652,1,Machala,El Oro,D,4,1341.0,NaN,NaN,NaN,NaN,NaN,NaN
2693790,2647458,2017-01-29,42,AUTOMOTIVE,8.000,0,Cuenca,Azuay,D,2,1424.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054348 entries, 0 to 3054347
Data columns (total 17 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int64
 1   date          object
 2   store_nbr     int64
 3   family        object
 4   sales         float64
 5   onpromotion   int64
 6   city          object
 7   state         object
 8   type_x        object
 9   cluster       int64
 10  transactions  float64
 11  dcoilwtico    float64
 12  type_y        object
 13  locale        object
 14  locale_name   object
 15  description   object
 16  transferred   object
dtypes: float64(3), int64(4), object(10)
memory usage: 396.1+ MB

## check for NAs

In [7]:
df.isna().any()

id              False
date            False
store_nbr       False
family          False
sales           False
onpromotion     False
city            False
state           False
type_x          False
cluster         False
transactions     True
dcoilwtico       True
type_y           True
locale           True
locale_name      True
description      True
transferred      True
dtype: bool

## check is holiday is celebrated where the store is located

matching by:
* locale='Local', store's city
* locale='Regional', store's state

In [15]:
df['city'].unique()

array(['Quito', 'Cayambe', 'Latacunga', 'Riobamba', 'Ibarra',
       'Santo Domingo', 'Guaranda', 'Puyo', 'Ambato', 'Guayaquil',
       'Salinas', 'Daule', 'Babahoyo', 'Quevedo', 'Playas', 'Libertad',
       'Cuenca', 'Loja', 'Machala', 'Esmeraldas', 'Manta', 'El Carmen'],
      dtype=object)

In [10]:
df['state'].unique()

array(['Pichincha', 'Cotopaxi', 'Chimborazo', 'Imbabura',
       'Santo Domingo de los Tsachilas', 'Bolivar', 'Pastaza',
       'Tungurahua', 'Guayas', 'Santa Elena', 'Los Rios', 'Azuay', 'Loja',
       'El Oro', 'Esmeraldas', 'Manabi'], dtype=object)

In [11]:
df['locale_name'].unique()

array(['Ecuador', nan, 'Manta', 'Cotopaxi', 'Cuenca', 'Libertad',
       'Riobamba', 'Puyo', 'Guaranda', 'Imbabura', 'Machala', 'Latacunga',
       'El Carmen', 'Santo Domingo', 'Cayambe', 'Guayaquil', 'Esmeraldas',
       'Ambato', 'Ibarra', 'Quevedo', 'Santo Domingo de los Tsachilas',
       'Santa Elena', 'Quito', 'Loja', 'Salinas'], dtype=object)

In [16]:
df['locale'].unique()

array(['National', nan, 'Local', 'Regional'], dtype=object)

In [23]:
df[(df['locale']=='Regional') & (df['locale_name']=='Cotopaxi') & (df['state']=='Cotopaxi')]

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,transactions,dcoilwtico,holiday_type,locale,locale_name,description,transferred
160479,160479,2013-04-01,12,AUTOMOTIVE,3.000,0,Latacunga,Cotopaxi,C,15,1313.0,97.10,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
160480,160480,2013-04-01,12,BABY CARE,0.000,0,Latacunga,Cotopaxi,C,15,1313.0,97.10,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
160481,160481,2013-04-01,12,BEAUTY,4.000,0,Latacunga,Cotopaxi,C,15,1313.0,97.10,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
160482,160482,2013-04-01,12,BEVERAGES,762.000,0,Latacunga,Cotopaxi,C,15,1313.0,97.10,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
160483,160483,2013-04-01,12,BOOKS,0.000,0,Latacunga,Cotopaxi,C,15,1313.0,97.10,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2134996,2108266,2016-04-01,13,POULTRY,151.336,15,Latacunga,Cotopaxi,C,15,979.0,35.36,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2134997,2108267,2016-04-01,13,PREPARED FOODS,44.000,0,Latacunga,Cotopaxi,C,15,979.0,35.36,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2134998,2108268,2016-04-01,13,PRODUCE,205.705,0,Latacunga,Cotopaxi,C,15,979.0,35.36,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2134999,2108269,2016-04-01,13,SCHOOL AND OFFICE SUPPLIES,1.000,0,Latacunga,Cotopaxi,C,15,979.0,35.36,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2135000,2108270,2016-04-01,13,SEAFOOD,5.000,0,Latacunga,Cotopaxi,C,15,979.0,35.36,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False

In [24]:
df[(df['locale']=='Local') & (df['locale_name']=='Latacunga') & (df['city']=='Latacunga')]

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,transactions,dcoilwtico,holiday_type,locale,locale_name,description,transferred
313931,311949,2013-06-25,12,AUTOMOTIVE,5.000,0,Latacunga,Cotopaxi,C,15,1214.0,95.25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,False
313934,311950,2013-06-25,12,BABY CARE,0.000,0,Latacunga,Cotopaxi,C,15,1214.0,95.25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,False
313937,311951,2013-06-25,12,BEAUTY,2.000,0,Latacunga,Cotopaxi,C,15,1214.0,95.25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,False
313940,311952,2013-06-25,12,BEVERAGES,586.000,0,Latacunga,Cotopaxi,C,15,1214.0,95.25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,False
313943,311953,2013-06-25,12,BOOKS,0.000,0,Latacunga,Cotopaxi,C,15,1214.0,95.25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2550202,2507434,2016-11-11,13,POULTRY,154.489,15,Latacunga,Cotopaxi,C,15,835.0,43.39,Holiday,Local,Latacunga,Independencia de Latacunga,False
2550203,2507435,2016-11-11,13,PREPARED FOODS,16.000,1,Latacunga,Cotopaxi,C,15,835.0,43.39,Holiday,Local,Latacunga,Independencia de Latacunga,False
2550204,2507436,2016-11-11,13,PRODUCE,144.171,1,Latacunga,Cotopaxi,C,15,835.0,43.39,Holiday,Local,Latacunga,Independencia de Latacunga,False
2550205,2507437,2016-11-11,13,SCHOOL AND OFFICE SUPPLIES,0.000,0,Latacunga,Cotopaxi,C,15,835.0,43.39,Holiday,Local,Latacunga,Independencia de Latacunga,False
2550206,2507438,2016-11-11,13,SEAFOOD,6.000,0,Latacunga,Cotopaxi,C,15,835.0,43.39,Holiday,Local,Latacunga,Independencia de Latacunga,False