In [1]:
import pandas as pd
import numpy as np

In [2]:
path='C:/Users/FT-LT74/Desktop/notes/github/time-series-forecasting-store-sales/data/interim/'
#path='C:/Users/jiahu/Desktop/Data Science Sample Prac/github_repos/time-series-forecasting-store-sales/data/interim/'

In [3]:
df=pd.read_csv(path+'merged_df.csv')
df

C:\Users\FT-LT74\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,13,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,transactions,dcoilwtico,holiday_type,locale,locale_name,description,transferred
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008770,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,2155.0,47.57,NaN,NaN,NaN,NaN,NaN
3008771,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,2155.0,47.57,NaN,NaN,NaN,NaN,NaN
3008772,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,2155.0,47.57,NaN,NaN,NaN,NaN,NaN
3008773,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,2155.0,47.57,NaN,NaN,NaN,NaN,NaN
3008774,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,2155.0,47.57,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3008775 entries, 0 to 3008774
Data columns (total 17 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int64
 1   date          object
 2   store_nbr     int64
 3   family        object
 4   sales         float64
 5   onpromotion   int64
 6   city          object
 7   state         object
 8   store_type    object
 9   cluster       int64
 10  transactions  float64
 11  dcoilwtico    float64
 12  holiday_type  object
 13  locale        object
 14  locale_name   object
 15  description   object
 16  transferred   object
dtypes: float64(3), int64(4), object(10)
memory usage: 390.2+ MB

## Date

In [5]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [6]:
df['Year']=df['date'].dt.year

In [7]:
df['Month']=df['date'].dt.month

In [8]:
df['Day']=df['date'].dt.day

Monday=0, Sunday=6

In [9]:
df['DayofWeek']=df['date'].dt.dayofweek

## check transferred holiday

In [10]:
df.head(2)

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,dcoilwtico,holiday_type,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,...,NaN,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,...,NaN,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1

In [11]:
df[df['transferred']==True]

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,dcoilwtico,holiday_type,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek
500775,500742,2013-10-09,1,AUTOMOTIVE,5.00000,0,Quito,Pichincha,D,13,...,101.63,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2
500776,500743,2013-10-09,1,BABY CARE,0.00000,0,Quito,Pichincha,D,13,...,101.63,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2
500777,500744,2013-10-09,1,BEAUTY,0.00000,0,Quito,Pichincha,D,13,...,101.63,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2
500778,500745,2013-10-09,1,BEVERAGES,913.00000,0,Quito,Pichincha,D,13,...,101.63,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2
500779,500746,2013-10-09,1,BOOKS,0.00000,0,Quito,Pichincha,D,13,...,101.63,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999860,2991973,2017-08-10,9,POULTRY,291.82098,0,Quito,Pichincha,B,6,...,48.54,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3
2999861,2991974,2017-08-10,9,PREPARED FOODS,111.93000,1,Quito,Pichincha,B,6,...,48.54,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3
2999862,2991975,2017-08-10,9,PRODUCE,1036.43900,6,Quito,Pichincha,B,6,...,48.54,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3
2999863,2991976,2017-08-10,9,SCHOOL AND OFFICE SUPPLIES,148.00000,10,Quito,Pichincha,B,6,...,48.54,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3
2999864,2991977,2017-08-10,9,SEAFOOD,14.35000,0,Quito,Pichincha,B,6,...,48.54,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3

In [12]:
df['holiday_type'].unique()

array(['Holiday', nan, 'Work Day', 'Additional', 'Event', 'Transfer',
       'Bridge'], dtype=object)

In [13]:
type(df['holiday_type'])

pandas.core.series.Series

In [14]:
df[df['holiday_type'].astype(str).isin(['Work Day', np.nan])]['holiday_type'].unique()

array(['Work Day'], dtype=object)

def check_holiday(x):
    if x['transferred']==True or x['holiday_type'].isin(['Work Day', np.nan]): 
        return 'No'
    else: 
        return 'Yes'

In [55]:
def check_holiday(x):
    if x['transferred']==True or x['holiday_type']=='Work Day':
        return 0
    elif str(x['holiday_type']).lower()=='nan': 
        return 0
    else: 
        return 1

def check_holiday(col1, col2):
    if col1==False or col2!='Work Day' or col2.notnull(): 
        return 'Yes'
    else: 
        return 'No'

In [56]:
df['Is_Holiday_Celebrated'] = df.apply(check_holiday, axis=1)

df['Is_Holiday_Celebrated'] = df['transferred'].apply(lambda x: 'Yes' if x==False else 'No')
df['Is_Holiday_Celebrated'] = df['holiday_type'].apply(lambda x: 'No' if x=='Work Day' else x)

In [57]:
df

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,holiday_type,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek,Is_Holiday_Celebrated
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008770,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,NaN,2017,8,15,1,0
3008771,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,NaN,2017,8,15,1,0
3008772,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,NaN,2017,8,15,1,0
3008773,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,NaN,2017,8,15,1,0
3008774,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,NaN,2017,8,15,1,0

In [59]:
df[df['Is_Holiday_Celebrated']==0]['holiday_type'].unique()

array([nan, 'Work Day', 'Holiday'], dtype=object)

In [60]:
df[df['Is_Holiday_Celebrated']==1].shape

(253737, 22)

In [61]:
df[df['Is_Holiday_Celebrated']==0].shape

(2755038, 22)

In [63]:
# checking
df[(df['Is_Holiday_Celebrated']==0) & (df['holiday_type']=='Holiday')]

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,holiday_type,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek,Is_Holiday_Celebrated
500775,500742,2013-10-09,1,AUTOMOTIVE,5.00000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2,0
500776,500743,2013-10-09,1,BABY CARE,0.00000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2,0
500777,500744,2013-10-09,1,BEAUTY,0.00000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2,0
500778,500745,2013-10-09,1,BEVERAGES,913.00000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2,0
500779,500746,2013-10-09,1,BOOKS,0.00000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999860,2991973,2017-08-10,9,POULTRY,291.82098,0,Quito,Pichincha,B,6,...,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3,0
2999861,2991974,2017-08-10,9,PREPARED FOODS,111.93000,1,Quito,Pichincha,B,6,...,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3,0
2999862,2991975,2017-08-10,9,PRODUCE,1036.43900,6,Quito,Pichincha,B,6,...,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3,0
2999863,2991976,2017-08-10,9,SCHOOL AND OFFICE SUPPLIES,148.00000,10,Quito,Pichincha,B,6,...,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3,0
2999864,2991977,2017-08-10,9,SEAFOOD,14.35000,0,Quito,Pichincha,B,6,...,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3,0

In [51]:
df.columns

Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion', 'city',
       'state', 'store_type', 'cluster', 'transactions', 'dcoilwtico',
       'holiday_type', 'locale', 'locale_name', 'description', 'transferred',
       'Year', 'Month', 'Day', 'DayofWeek', 'Is_Holiday_Celebrated'],
      dtype='object')

## to pivot family col? --> cannot, as there are duplicates for same date due to holidays

## checking payday

Wages in the public sector are paid every two weeks on the 15 th and on the last day of the month. Supermarket sales could be affected by this.

In [73]:
df.head(1)

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,holiday_type,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek,Is_Holiday_Celebrated
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1

In [87]:
def payday(x):
    end_of_month = calendar.monthrange(x['Year'], x['Month'])[1]
    if (x['Day']==15) or (x['Day']==end_of_month):
        return 1
    else:
        return 0

In [88]:
df['Is_PayDay'] = df.apply(payday, axis=1)

In [89]:
df

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek,Is_Holiday_Celebrated,Is_PayDay
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008770,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,2017,8,15,1,0,1
3008771,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,2017,8,15,1,0,1
3008772,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,2017,8,15,1,0,1
3008773,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,2017,8,15,1,0,1
3008774,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,2017,8,15,1,0,1

df['Year'][0]

df['Month'][0]

from datetime import datetime
import calendar
res = calendar.monthrange(df['Year'][0],df['Month'][0])[1]
res

In [90]:
df[df['Is_PayDay']==1]['Day'].unique()

array([15, 31, 28, 30, 29], dtype=int64)

## check data for NAs / outliers

In [64]:
df.head(1)

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,holiday_type,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek,Is_Holiday_Celebrated
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1

In [118]:
df.isna().any()

id                       False
date                     False
store_nbr                False
family                   False
sales                    False
onpromotion              False
city                     False
state                    False
store_type               False
cluster                  False
transactions             False
dcoilwtico               False
holiday_type              True
locale                    True
locale_name               True
description               True
transferred              False
Year                     False
Month                    False
Day                      False
DayofWeek                False
Is_Holiday_Celebrated    False
Is_PayDay                False
dtype: bool

#### Transactions

In [93]:
sorted(df['transactions'].unique())

[nan,
 5.0,
 6.0,
 10.0,
 33.0,
 54.0,
 97.0,
 179.0,
 203.0,
 238.0,
 292.0,
 346.0,
 349.0,
 352.0,
 353.0,
 357.0,
 367.0,
 368.0,
 369.0,
 371.0,
 373.0,
 374.0,
 376.0,
 378.0,
 379.0,
 381.0,
 382.0,
 383.0,
 386.0,
 390.0,
 391.0,
 392.0,
 393.0,
 395.0,
 396.0,
 397.0,
 398.0,
 399.0,
 400.0,
 401.0,
 402.0,
 404.0,
 405.0,
 406.0,
 407.0,
 408.0,
 409.0,
 410.0,
 411.0,
 412.0,
 413.0,
 414.0,
 415.0,
 416.0,
 417.0,
 419.0,
 420.0,
 421.0,
 422.0,
 423.0,
 424.0,
 425.0,
 427.0,
 428.0,
 429.0,
 430.0,
 431.0,
 432.0,
 433.0,
 434.0,
 435.0,
 436.0,
 437.0,
 438.0,
 439.0,
 440.0,
 441.0,
 442.0,
 443.0,
 444.0,
 445.0,
 446.0,
 447.0,
 448.0,
 449.0,
 450.0,
 451.0,
 452.0,
 453.0,
 454.0,
 455.0,
 456.0,
 457.0,
 458.0,
 459.0,
 460.0,
 461.0,
 462.0,
 463.0,
 464.0,
 465.0,
 466.0,
 467.0,
 468.0,
 469.0,
 470.0,
 471.0,
 472.0,
 473.0,
 474.0,
 475.0,
 476.0,
 477.0,
 478.0,
 479.0,
 480.0,
 481.0,
 482.0,
 483.0,
 484.0,
 485.0,
 486.0,
 487.0,
 488.0,
 489.0,
 490.0,
 491.0,
 492.0,
 493.0,
 494.0,
 495.0,
 496.0,
 497.0,
 498.0,
 499.0,
 500.0,
 501.0,
 502.0,
 503.0,
 504.0,
 505.0,
 506.0,
 507.0,
 508.0,
 509.0,
 510.0,
 511.0,
 512.0,
 513.0,
 514.0,
 515.0,
 516.0,
 517.0,
 518.0,
 519.0,
 520.0,
 521.0,
 522.0,
 523.0,
 524.0,
 525.0,
 526.0,
 527.0,
 528.0,
 529.0,
 530.0,
 531.0,
 532.0,
 533.0,
 534.0,
 535.0,
 536.0,
 537.0,
 538.0,
 539.0,
 540.0,
 541.0,
 542.0,
 543.0,
 544.0,
 545.0,
 546.0,
 547.0,
 548.0,
 549.0,
 550.0,
 551.0,
 552.0,
 553.0,
 554.0,
 555.0,
 556.0,
 557.0,
 558.0,
 559.0,
 560.0,
 561.0,
 562.0,
 563.0,
 564.0,
 565.0,
 566.0,
 567.0,
 568.0,
 569.0,
 570.0,
 571.0,
 572.0,
 573.0,
 574.0,
 575.0,
 576.0,
 577.0,
 578.0,
 579.0,
 580.0,
 581.0,
 582.0,
 583.0,
 584.0,
 585.0,
 586.0,
 587.0,
 588.0,
 589.0,
 590.0,
 591.0,
 592.0,
 593.0,
 594.0,
 595.0,
 596.0,
 597.0,
 598.0,
 599.0,
 600.0,
 601.0,
 602.0,
 603.0,
 604.0,
 605.0,
 606.0,
 607.0,
 608.0,
 609.0,
 610.0,
 611.0,
 612.0,
 613.0,
 614.0,
 615.0,
 616.0,
 617.0,
 618.0,
 619.0,
 620.0,
 621.0,
 622.0,
 623.0,
 624.0,
 625.0,
 626.0,
 627.0,
 628.0,
 629.0,
 630.0,
 631.0,
 632.0,
 633.0,
 634.0,
 635.0,
 636.0,
 637.0,
 638.0,
 639.0,
 640.0,
 641.0,
 642.0,
 643.0,
 644.0,
 645.0,
 646.0,
 647.0,
 648.0,
 649.0,
 650.0,
 651.0,
 652.0,
 653.0,
 654.0,
 655.0,
 656.0,
 657.0,
 658.0,
 659.0,
 660.0,
 661.0,
 662.0,
 663.0,
 664.0,
 665.0,
 666.0,
 667.0,
 668.0,
 669.0,
 670.0,
 671.0,
 672.0,
 673.0,
 674.0,
 675.0,
 676.0,
 677.0,
 678.0,
 679.0,
 680.0,
 681.0,
 682.0,
 683.0,
 684.0,
 685.0,
 686.0,
 687.0,
 688.0,
 689.0,
 690.0,
 691.0,
 692.0,
 693.0,
 694.0,
 695.0,
 696.0,
 697.0,
 698.0,
 699.0,
 700.0,
 701.0,
 702.0,
 703.0,
 704.0,
 705.0,
 706.0,
 707.0,
 708.0,
 709.0,
 710.0,
 711.0,
 712.0,
 713.0,
 714.0,
 715.0,
 716.0,
 717.0,
 718.0,
 719.0,
 720.0,
 721.0,
 722.0,
 723.0,
 724.0,
 725.0,
 726.0,
 727.0,
 728.0,
 729.0,
 730.0,
 731.0,
 732.0,
 733.0,
 734.0,
 735.0,
 736.0,
 737.0,
 738.0,
 739.0,
 740.0,
 741.0,
 742.0,
 743.0,
 744.0,
 745.0,
 746.0,
 747.0,
 748.0,
 749.0,
 750.0,
 751.0,
 752.0,
 753.0,
 754.0,
 755.0,
 756.0,
 757.0,
 758.0,
 759.0,
 760.0,
 761.0,
 762.0,
 763.0,
 764.0,
 765.0,
 766.0,
 767.0,
 768.0,
 769.0,
 770.0,
 771.0,
 772.0,
 773.0,
 774.0,
 775.0,
 776.0,
 777.0,
 778.0,
 779.0,
 780.0,
 781.0,
 782.0,
 783.0,
 784.0,
 785.0,
 786.0,
 787.0,
 788.0,
 789.0,
 790.0,
 791.0,
 792.0,
 793.0,
 794.0,
 795.0,
 796.0,
 797.0,
 798.0,
 799.0,
 800.0,
 801.0,
 802.0,
 803.0,
 804.0,
 805.0,
 806.0,
 807.0,
 808.0,
 809.0,
 810.0,
 811.0,
 812.0,
 813.0,
 814.0,
 815.0,
 816.0,
 817.0,
 818.0,
 819.0,
 820.0,
 821.0,
 822.0,
 823.0,
 824.0,
 825.0,
 826.0,
 827.0,
 828.0,
 829.0,
 830.0,
 831.0,
 832.0,
 833.0,
 834.0,
 835.0,
 836.0,
 837.0,
 838.0,
 839.0,
 840.0,
 841.0,
 842.0,
 843.0,
 844.0,
 845.0,
 846.0,
 847.0,
 848.0,
 849.0,
 850.0,
 851.0,
 852.0,
 853.0,
 854.0,
 855.0,
 856.0,
 857.0,
 858.0,
 859.0,
 860.0,
 861.0,
 862.0,
 863.0,
 864.0,
 865.0,
 866.0,
 867.0,
 868.0,
 869.0,
 870.0,
 871.0,
 872.0,
 873.0,
 874.0,
 875.0,
 876.0,
 877.0,
 878.0,
 879.0,
 880.0,
 881.0,
 882.0,
 883.0,
 884.0,
 885.0,
 886.0,
 887.0,
 888.0,
 889.0,
 890.0,
 891.0,
 892.0,
 893.0,
 894.0,
 895.0,
 896.0,
 897.0,
 898.0,
 899.0,
 900.0,
 901.0,
 902.0,
 903.0,
 904.0,
 905.0,
 906.0,
 907.0,
 908.0,
 909.0,
 910.0,
 911.0,
 912.0,
 913.0,
 914.0,
 915.0,
 916.0,
 917.0,
 918.0,
 919.0,
 920.0,
 921.0,
 922.0,
 923.0,
 924.0,
 925.0,
 926.0,
 927.0,
 928.0,
 929.0,
 930.0,
 931.0,
 932.0,
 933.0,
 934.0,
 935.0,
 936.0,
 937.0,
 938.0,
 939.0,
 940.0,
 941.0,
 942.0,
 943.0,
 944.0,
 945.0,
 946.0,
 947.0,
 948.0,
 949.0,
 950.0,
 951.0,
 952.0,
 953.0,
 954.0,
 955.0,
 956.0,
 957.0,
 958.0,
 959.0,
 960.0,
 961.0,
 962.0,
 963.0,
 964.0,
 965.0,
 966.0,
 967.0,
 968.0,
 969.0,
 970.0,
 971.0,
 972.0,
 973.0,
 974.0,
 975.0,
 976.0,
 977.0,
 978.0,
 979.0,
 980.0,
 981.0,
 982.0,
 983.0,
 984.0,
 985.0,
 986.0,
 987.0,
 988.0,
 989.0,
 990.0,
 991.0,
 992.0,
 993.0,
 994.0,
 995.0,
 996.0,
 997.0,
 998.0,
 999.0,
 1000.0,
 1001.0,
 1002.0,
 1003.0,
 1004.0,
 1005.0,
 1006.0,
 1007.0,
 1008.0,
 1009.0,
 1010.0,
 1011.0,
 1012.0,
 1013.0,
 1014.0,
 1015.0,
 1016.0,
 1017.0,
 1018.0,
 1019.0,
 1020.0,
 1021.0,
 1022.0,
 1023.0,
 1024.0,
 1025.0,
 1026.0,
 1027.0,
 1028.0,
 1029.0,
 1030.0,
 1031.0,
 1032.0,
 1033.0,
 1034.0,
 1035.0,
 1036.0,
 1037.0,
 1038.0,
 1039.0,
 1040.0,
 1041.0,
 1042.0,
 1043.0,
 1044.0,
 1045.0,
 1046.0,
 1047.0,
 1048.0,
 1049.0,
 1050.0,
 1051.0,
 1052.0,
 1053.0,
 1054.0,
 1055.0,
 1056.0,
 1057.0,
 1058.0,
 1059.0,
 1060.0,
 1061.0,
 1062.0,
 1063.0,
 1064.0,
 1065.0,
 1066.0,
 1067.0,
 1068.0,
 1069.0,
 1070.0,
 1071.0,
 1072.0,
 1073.0,
 1074.0,
 1075.0,
 1076.0,
 1077.0,
 1078.0,
 1079.0,
 1080.0,
 1081.0,
 1082.0,
 1083.0,
 1084.0,
 1085.0,
 1086.0,
 1087.0,
 1088.0,
 1089.0,
 1090.0,
 1091.0,
 1092.0,
 1093.0,
 1094.0,
 1095.0,
 1096.0,
 1097.0,
 1098.0,
 1099.0,
 1100.0,
 1101.0,
 1102.0,
 1103.0,
 1104.0,
 1105.0,
 1106.0,
 1107.0,
 1108.0,
 1109.0,
 1110.0,
 1111.0,
 1112.0,
 1113.0,
 1114.0,
 1115.0,
 1116.0,
 1117.0,
 1118.0,
 1119.0,
 1120.0,
 1121.0,
 1122.0,
 1123.0,
 1124.0,
 1125.0,
 1126.0,
 1127.0,
 1128.0,
 1129.0,
 1130.0,
 1131.0,
 1132.0,
 1133.0,
 1134.0,
 1135.0,
 1136.0,
 1137.0,
 1138.0,
 1139.0,
 1140.0,
 1141.0,
 1142.0,
 1143.0,
 1144.0,
 1145.0,
 1146.0,
 1147.0,
 1148.0,
 1149.0,
 1150.0,
 1151.0,
 1152.0,
 1153.0,
 1154.0,
 1155.0,
 1156.0,
 1157.0,
 1158.0,
 1159.0,
 1160.0,
 1161.0,
 1162.0,
 1163.0,
 1164.0,
 1165.0,
 1166.0,
 1167.0,
 1168.0,
 1169.0,
 1170.0,
 1171.0,
 1172.0,
 1173.0,
 1174.0,
 1175.0,
 1176.0,
 1177.0,
 1178.0,
 1179.0,
 1180.0,
 1181.0,
 1182.0,
 1183.0,
 1184.0,
 1185.0,
 1186.0,
 1187.0,
 1188.0,
 1189.0,
 1190.0,
 1191.0,
 1192.0,
 1193.0,
 1194.0,
 1195.0,
 1196.0,
 1197.0,
 1198.0,
 1199.0,
 1200.0,
 1201.0,
 1202.0,
 1203.0,
 1204.0,
 1205.0,
 1206.0,
 1207.0,
 1208.0,
 1209.0,
 1210.0,
 1211.0,
 1212.0,
 1213.0,
 1214.0,
 1215.0,
 1216.0,
 1217.0,
 1218.0,
 1219.0,
 1220.0,
 1221.0,
 1222.0,
 1223.0,
 1224.0,
 1225.0,
 1226.0,
 1227.0,
 1228.0,
 1229.0,
 1230.0,
 1231.0,
 1232.0,
 1233.0,
 1234.0,
 1235.0,
 1236.0,
 1237.0,
 1238.0,
 1239.0,
 1240.0,
 1241.0,
 1242.0,
 1243.0,
 1244.0,
 1245.0,
 1246.0,
 1247.0,
 1248.0,
 1249.0,
 1250.0,
 1251.0,
 1252.0,
 1253.0,
 1254.0,
 1255.0,
 1256.0,
 1257.0,
 1258.0,
 1259.0,
 1260.0,
 1261.0,
 1262.0,
 1263.0,
 1264.0,
 1265.0,
 1266.0,
 1267.0,
 1268.0,
 1269.0,
 1270.0,
 1271.0,
 1272.0,
 1273.0,
 1274.0,
 1275.0,
 1276.0,
 1277.0,
 1278.0,
 1279.0,
 1280.0,
 1281.0,
 1282.0,
 1283.0,
 1284.0,
 1285.0,
 1286.0,
 1287.0,
 1288.0,
 1289.0,
 1290.0,
 1291.0,
 1292.0,
 1293.0,
 1294.0,
 1295.0,
 1296.0,
 1297.0,
 1298.0,
 1299.0,
 1300.0,
 1301.0,
 1302.0,
 1303.0,
 1304.0,
 1305.0,
 1306.0,
 1307.0,
 1308.0,
 1309.0,
 1310.0,
 1311.0,
 1312.0,
 1313.0,
 1314.0,
 1315.0,
 1316.0,
 1317.0,
 1318.0,
 1319.0,
 1320.0,
 1321.0,
 1322.0,
 1323.0,
 1324.0,
 1325.0,
 1326.0,
 1327.0,
 1328.0,
 1329.0,
 1330.0,
 1331.0,
 1332.0,
 1333.0,
 1334.0,
 1335.0,
 1336.0,
 1337.0,
 1338.0,
 1339.0,
 1340.0,
 1341.0,
 1342.0,
 1343.0,
 1344.0,
 1345.0,
 1346.0,
 1347.0,
 1348.0,
 1349.0,
 1350.0,
 1351.0,
 1352.0,
 1353.0,
 1354.0,
 1355.0,
 1356.0,
 1357.0,
 1358.0,
 1359.0,
 1360.0,
 1361.0,
 1362.0,
 1363.0,
 1364.0,
 ...]

df[df['transactions'].isna()].iloc[:,:12]

In [95]:
df['transactions'].fillna(0, inplace=True)

In [96]:
df['transactions'].isna().any()

False

#### dcoilwtico

In [99]:
sorted(df['dcoilwtico'].unique())

[nan,
 26.19,
 26.68,
 27.54,
 27.96,
 28.47,
 29.05,
 29.32,
 29.45,
 29.54,
 29.55,
 29.59,
 29.71,
 29.9,
 30.31,
 30.35,
 30.42,
 30.68,
 30.77,
 30.86,
 31.22,
 31.37,
 31.4,
 31.42,
 31.62,
 31.63,
 31.65,
 31.84,
 32.07,
 32.29,
 32.32,
 32.74,
 33.2,
 33.21,
 33.29,
 33.66,
 33.97,
 34.3,
 34.39,
 34.52,
 34.55,
 34.56,
 34.57,
 34.72,
 34.98,
 35.36,
 35.55,
 35.65,
 35.91,
 35.97,
 36.12,
 36.31,
 36.32,
 36.36,
 36.59,
 36.67,
 36.76,
 36.81,
 36.91,
 36.94,
 37.13,
 37.16,
 37.2,
 37.3,
 37.32,
 37.46,
 37.62,
 37.64,
 37.74,
 37.77,
 37.88,
 37.9,
 37.99,
 38.14,
 38.22,
 38.28,
 38.43,
 38.5,
 38.51,
 39.15,
 39.27,
 39.39,
 39.47,
 39.5,
 39.74,
 39.91,
 39.93,
 40.0,
 40.05,
 40.17,
 40.4,
 40.43,
 40.45,
 40.46,
 40.55,
 40.57,
 40.58,
 40.69,
 40.73,
 40.75,
 40.8,
 40.88,
 40.89,
 41.0,
 41.08,
 41.13,
 41.22,
 41.45,
 41.54,
 41.67,
 41.68,
 41.7,
 41.74,
 41.75,
 41.83,
 41.9,
 41.92,
 41.93,
 42.12,
 42.16,
 42.27,
 42.4,
 42.45,
 42.47,
 42.48,
 42.52,
 42.53,
 42.58,
 42.72,
 42.76,
 42.78,
 42.86,
 42.95,
 43.04,
 43.06,
 43.11,
 43.17,
 43.18,
 43.19,
 43.21,
 43.22,
 43.24,
 43.29,
 43.34,
 43.39,
 43.41,
 43.45,
 43.51,
 43.62,
 43.65,
 43.77,
 43.85,
 43.87,
 43.91,
 43.93,
 43.96,
 44.02,
 44.07,
 44.08,
 44.12,
 44.13,
 44.23,
 44.24,
 44.25,
 44.32,
 44.33,
 44.36,
 44.39,
 44.4,
 44.47,
 44.53,
 44.58,
 44.62,
 44.63,
 44.64,
 44.65,
 44.66,
 44.68,
 44.69,
 44.71,
 44.73,
 44.74,
 44.75,
 44.79,
 44.8,
 44.85,
 44.87,
 44.88,
 44.9,
 44.91,
 44.94,
 44.96,
 45.06,
 45.11,
 45.13,
 45.2,
 45.22,
 45.23,
 45.24,
 45.25,
 45.26,
 45.27,
 45.29,
 45.32,
 45.33,
 45.37,
 45.38,
 45.47,
 45.48,
 45.52,
 45.54,
 45.55,
 45.56,
 45.6,
 45.64,
 45.66,
 45.68,
 45.69,
 45.72,
 45.75,
 45.78,
 45.8,
 45.82,
 45.84,
 45.85,
 45.86,
 45.88,
 45.91,
 45.92,
 45.93,
 45.98,
 46.0,
 46.02,
 46.03,
 46.06,
 46.1,
 46.12,
 46.14,
 46.17,
 46.21,
 46.22,
 46.23,
 46.28,
 46.29,
 46.3,
 46.32,
 46.37,
 46.38,
 46.4,
 46.41,
 46.46,
 46.53,
 46.57,
 46.6,
 46.63,
 46.64,
 46.66,
 46.67,
 46.7,
 46.72,
 46.73,
 46.75,
 46.79,
 46.8,
 46.81,
 46.82,
 46.83,
 46.93,
 46.97,
 47.0,
 47.02,
 47.03,
 47.07,
 47.09,
 47.1,
 47.11,
 47.12,
 47.17,
 47.24,
 47.28,
 47.29,
 47.3,
 47.37,
 47.4,
 47.48,
 47.54,
 47.57,
 47.59,
 47.63,
 47.64,
 47.65,
 47.67,
 47.68,
 47.72,
 47.77,
 47.79,
 47.81,
 47.83,
 47.85,
 47.86,
 47.88,
 47.92,
 47.93,
 47.95,
 47.97,
 47.98,
 48.0,
 48.04,
 48.05,
 48.06,
 48.07,
 48.11,
 48.12,
 48.13,
 48.16,
 48.2,
 48.27,
 48.29,
 48.3,
 48.32,
 48.34,
 48.35,
 48.36,
 48.42,
 48.45,
 48.48,
 48.49,
 48.53,
 48.54,
 48.57,
 48.58,
 48.64,
 48.66,
 48.67,
 48.69,
 48.72,
 48.75,
 48.77,
 48.8,
 48.81,
 48.83,
 48.86,
 48.89,
 48.9,
 48.95,
 48.96,
 49.0,
 49.02,
 49.03,
 49.04,
 49.05,
 49.07,
 49.09,
 49.1,
 49.13,
 49.14,
 49.16,
 49.19,
 49.2,
 49.22,
 49.25,
 49.27,
 49.31,
 49.34,
 49.36,
 49.37,
 49.4,
 49.41,
 49.45,
 49.46,
 49.47,
 49.56,
 49.57,
 49.58,
 49.59,
 49.6,
 49.61,
 49.63,
 49.64,
 49.67,
 49.71,
 49.72,
 49.75,
 49.76,
 49.83,
 49.84,
 49.85,
 49.95,
 49.97,
 50.05,
 50.06,
 50.11,
 50.12,
 50.14,
 50.18,
 50.21,
 50.25,
 50.26,
 50.3,
 50.31,
 50.32,
 50.35,
 50.37,
 50.43,
 50.44,
 50.47,
 50.48,
 50.49,
 50.52,
 50.54,
 50.59,
 50.61,
 50.72,
 50.76,
 50.79,
 50.81,
 50.82,
 50.84,
 50.88,
 50.9,
 50.95,
 50.99,
 51.01,
 51.08,
 51.12,
 51.14,
 51.17,
 51.23,
 51.39,
 51.4,
 51.41,
 51.44,
 51.51,
 51.53,
 51.59,
 51.61,
 51.63,
 51.66,
 51.69,
 51.7,
 51.72,
 51.93,
 51.95,
 51.98,
 52.01,
 52.08,
 52.13,
 52.14,
 52.19,
 52.22,
 52.25,
 52.33,
 52.36,
 52.37,
 52.38,
 52.45,
 52.46,
 52.48,
 52.62,
 52.63,
 52.66,
 52.68,
 52.72,
 52.74,
 52.75,
 52.76,
 52.77,
 52.82,
 52.96,
 52.99,
 53.01,
 53.04,
 53.05,
 53.06,
 53.11,
 53.12,
 53.18,
 53.19,
 53.21,
 53.24,
 53.26,
 53.3,
 53.33,
 53.38,
 53.41,
 53.45,
 53.46,
 53.55,
 53.56,
 53.61,
 53.75,
 53.77,
 53.8,
 53.81,
 53.82,
 53.84,
 53.9,
 53.95,
 53.98,
 53.99,
 54.0,
 54.01,
 54.02,
 54.04,
 54.14,
 54.18,
 54.48,
 54.59,
 55.25,
 55.56,
 55.58,
 55.7,
 55.71,
 55.96,
 55.97,
 55.98,
 56.17,
 56.25,
 56.37,
 56.43,
 56.59,
 56.69,
 56.78,
 56.91,
 56.93,
 56.94,
 57.05,
 57.29,
 57.3,
 57.51,
 57.69,
 57.81,
 58.0,
 58.15,
 58.34,
 58.55,
 58.88,
 58.92,
 58.96,
 58.99,
 59.1,
 59.11,
 59.23,
 59.41,
 59.44,
 59.48,
 59.53,
 59.59,
 59.62,
 59.67,
 59.73,
 59.89,
 59.96,
 60.01,
 60.15,
 60.18,
 60.24,
 60.25,
 60.38,
 60.41,
 60.5,
 60.72,
 60.74,
 60.93,
 60.99,
 61.05,
 61.3,
 61.36,
 63.13,
 63.74,
 65.89,
 65.94,
 66.73,
 66.99,
 67.3,
 68.98,
 73.7,
 74.04,
 74.13,
 74.55,
 75.63,
 75.64,
 75.74,
 75.91,
 76.52,
 77.15,
 77.16,
 77.43,
 77.85,
 77.87,
 78.71,
 78.77,
 80.52,
 80.53,
 81.06,
 81.26,
 81.27,
 81.36,
 81.72,
 81.82,
 82.25,
 82.33,
 82.76,
 82.8,
 82.81,
 83.25,
 85.73,
 85.76,
 85.87,
 86.65,
 87.29,
 87.83,
 88.04,
 88.73,
 88.75,
 88.81,
 88.89,
 89.21,
 89.76,
 90.13,
 90.33,
 90.47,
 90.71,
 90.74,
 90.88,
 91.02,
 91.07,
 91.17,
 91.23,
 91.36,
 91.45,
 91.46,
 91.53,
 91.55,
 91.71,
 91.9,
 91.93,
 92.01,
 92.03,
 92.05,
 92.07,
 92.15,
 92.18,
 92.39,
 92.43,
 92.44,
 92.46,
 92.47,
 92.55,
 92.63,
 92.64,
 92.73,
 92.74,
 92.76,
 92.79,
 92.84,
 92.86,
 92.89,
 92.92,
 92.97,
 93.03,
 93.07,
 93.08,
 93.12,
 93.13,
 93.14,
 93.2,
 93.21,
 93.22,
 93.26,
 93.27,
 93.31,
 93.32,
 93.34,
 93.35,
 93.36,
 93.4,
 93.41,
 93.44,
 93.49,
 93.54,
 93.57,
 93.59,
 93.6,
 93.61,
 93.66,
 93.7,
 93.71,
 93.76,
 93.78,
 93.8,
 93.81,
 93.84,
 93.86,
 93.91,
 93.95,
 93.96,
 93.97,
 93.98,
 94.09,
 94.12,
 94.18,
 94.25,
 94.27,
 94.28,
 94.33,
 94.35,
 94.51,
 94.53,
 94.55,
 94.56,
 94.58,
 94.59,
 94.65,
 94.71,
 94.74,
 94.76,
 94.85,
 94.89,
 94.91,
 94.92,
 95.02,
 95.06,
 95.07,
 95.13,
 95.14,
 95.15,
 95.25,
 95.28,
 95.35,
 95.39,
 95.47,
 95.49,
 95.5,
 95.54,
 95.55,
 95.61,
 95.71,
 95.72,
 95.78,
 95.8,
 95.81,
 95.82,
 95.83,
 95.84,
 95.95,
 95.98,
 95.99,
 96.09,
 96.11,
 96.21,
 96.24,
 96.27,
 96.29,
 96.35,
 96.36,
 96.4,
 96.44,
 96.53,
 96.65,
 96.66,
 96.68,
 96.69,
 96.81,
 96.9,
 96.93,
 96.97,
 96.99,
 97.0,
 97.01,
 97.03,
 97.1,
 97.14,
 97.18,
 97.21,
 97.23,
 97.24,
 97.25,
 97.3,
 97.34,
 97.36,
 97.4,
 97.46,
 97.48,
 97.49,
 97.55,
 97.57,
 97.59,
 97.61,
 97.62,
 97.63,
 97.65,
 97.83,
 97.84,
 97.86,
 97.94,
 97.98,
 98.09,
 98.17,
 98.23,
 98.24,
 98.25,
 98.26,
 98.29,
 98.32,
 98.4,
 98.43,
 98.46,
 98.57,
 98.62,
 98.74,
 98.87,
 98.9,
 99.11,
 99.18,
 99.23,
 99.28,
 99.6,
 99.65,
 99.66,
 99.68,
 99.69,
 99.74,
 99.81,
 99.94,
 99.96,
 99.97,
 99.98,
 100.05,
 100.07,
 100.08,
 100.09,
 100.12,
 100.27,
 100.29,
 100.31,
 100.32,
 100.38,
 100.43,
 100.52,
 100.56,
 100.61,
 100.71,
 100.72,
 100.85,
 100.87,
 100.89,
 101.06,
 101.13,
 101.15,
 101.16,
 101.25,
 101.39,
 101.47,
 101.48,
 101.56,
 101.57,
 101.63,
 101.69,
 101.73,
 101.74,
 101.75,
 101.82,
 101.88,
 101.92,
 102.01,
 102.09,
 102.17,
 102.2,
 102.31,
 102.34,
 102.36,
 102.46,
 102.53,
 102.54,
 102.57,
 102.63,
 102.68,
 102.76,
 102.8,
 102.82,
 102.86,
 102.88,
 102.93,
 102.95,
 103.03,
 103.07,
 103.08,
 103.09,
 103.1,
 103.14,
 103.17,
 103.2,
 103.22,
 103.27,
 103.29,
 103.32,
 103.34,
 103.37,
 103.4,
 103.45,
 103.46,
 103.54,
 103.55,
 103.61,
 103.62,
 103.64,
 103.68,
 103.7,
 103.71,
 103.81,
 103.83,
 103.84,
 103.93,
 104.03,
 104.05,
 104.06,
 104.15,
 104.19,
 104.26,
 104.29,
 104.31,
 104.33,
 104.35,
 104.41,
 104.59,
 104.61,
 104.7,
 104.76,
 104.77,
 104.78,
 104.9,
 104.91,
 104.93,
 105.01,
 105.02,
 105.04,
 105.09,
 105.1,
 105.18,
 105.23,
 105.32,
 105.34,
 105.36,
 105.41,
 105.47,
 105.68,
 105.85,
 105.88,
 106.04,
 106.06,
 106.07,
 106.19,
 106.2,
 106.26,
 106.39,
 106.41,
 106.46,
 106.48,
 106.49,
 106.54,
 106.61,
 106.64,
 106.78,
 106.83,
 106.89,
 106.94,
 106.95,
 107.04,
 107.08,
 107.13,
 107.14,
 107.2,
 107.29,
 107.43,
 107.48,
 107.49,
 107.52,
 107.58,
 107.65,
 107.93,
 107.94,
 107.95,
 107.98,
 108.0,
 108.23,
 108.31,
 108.5,
 108.51,
 108.67,
 108.72,
 109.11,
 109.62,
 110.17,
 110.62]

In [100]:
df['dcoilwtico'].fillna(0, inplace=True)

#### holiday_type,locale,locale_name,description,transferred

In [113]:
#df[['holiday_type','locale','locale_name','description']]
df[['holiday_type','locale','locale_name','description']].fillna('None')

        holiday_type    locale locale_name         description
0            Holiday  National     Ecuador  Primer dia del ano
1            Holiday  National     Ecuador  Primer dia del ano
2            Holiday  National     Ecuador  Primer dia del ano
3            Holiday  National     Ecuador  Primer dia del ano
4            Holiday  National     Ecuador  Primer dia del ano
...              ...       ...         ...                 ...
3008770         None      None        None                None
3008771         None      None        None                None
3008772         None      None        None                None
3008773         None      None        None                None
3008774         None      None        None                None

[3008775 rows x 4 columns]

In [117]:
df['transferred'].fillna(False, inplace=True)

#### all together

In [119]:
def clean_data(df):
    # check for NA
    # check for outliers
    df['transactions'].fillna(0, inplace=True)
    df['dcoilwtico'].fillna(0, inplace=True)
    df['transferred'].fillna(False, inplace=True)
    # df[['holiday_type', 'locale', 'locale_name', 'description']].fillna('None', inplace=True)
    df.fillna('None', inplace=True)
    return df

In [120]:
df

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek,Is_Holiday_Celebrated,Is_PayDay
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008770,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,...,NaN,NaN,NaN,False,2017,8,15,1,0,1
3008771,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,...,NaN,NaN,NaN,False,2017,8,15,1,0,1
3008772,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,...,NaN,NaN,NaN,False,2017,8,15,1,0,1
3008773,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,...,NaN,NaN,NaN,False,2017,8,15,1,0,1
3008774,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,...,NaN,NaN,NaN,False,2017,8,15,1,0,1

In [121]:
clean_data(df)

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek,Is_Holiday_Celebrated,Is_PayDay
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008770,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,...,None,None,None,False,2017,8,15,1,0,1
3008771,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,...,None,None,None,False,2017,8,15,1,0,1
3008772,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,...,None,None,None,False,2017,8,15,1,0,1
3008773,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,...,None,None,None,False,2017,8,15,1,0,1
3008774,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,...,None,None,None,False,2017,8,15,1,0,1

## Label Encoding

LabelEncoder: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

In [122]:
df.isna().any()

id                       False
date                     False
store_nbr                False
family                   False
sales                    False
onpromotion              False
city                     False
state                    False
store_type               False
cluster                  False
transactions             False
dcoilwtico               False
holiday_type             False
locale                   False
locale_name              False
description              False
transferred              False
Year                     False
Month                    False
Day                      False
DayofWeek                False
Is_Holiday_Celebrated    False
Is_PayDay                False
dtype: bool

In [126]:
df

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek,Is_Holiday_Celebrated,Is_PayDay
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,...,National,Ecuador,Primer dia del ano,False,2013,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008770,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,...,None,None,None,False,2017,8,15,1,0,1
3008771,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,...,None,None,None,False,2017,8,15,1,0,1
3008772,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,...,None,None,None,False,2017,8,15,1,0,1
3008773,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,...,None,None,None,False,2017,8,15,1,0,1
3008774,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,...,None,None,None,False,2017,8,15,1,0,1

In [124]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()
# le.fit(df)

In [136]:
cols = list(df.select_dtypes(include=[object, bool]).columns)

In [137]:
cols

['family',
 'city',
 'state',
 'store_type',
 'holiday_type',
 'locale',
 'locale_name',
 'description',
 'transferred']

In [140]:
df[cols] = df[cols].apply(le.fit_transform)

In [141]:
df

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek,Is_Holiday_Celebrated,Is_PayDay
0,0,2013-01-01,1,0,0.000,0,18,12,3,13,...,1,4,51,0,2013,1,1,1,1,0
1,1,2013-01-01,1,1,0.000,0,18,12,3,13,...,1,4,51,0,2013,1,1,1,1,0
2,2,2013-01-01,1,2,0.000,0,18,12,3,13,...,1,4,51,0,2013,1,1,1,1,0
3,3,2013-01-01,1,3,0.000,0,18,12,3,13,...,1,4,51,0,2013,1,1,1,1,0
4,4,2013-01-01,1,4,0.000,0,18,12,3,13,...,1,4,51,0,2013,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008770,3000883,2017-08-15,9,28,438.133,0,18,12,1,6,...,2,16,49,0,2017,8,15,1,0,1
3008771,3000884,2017-08-15,9,29,154.553,1,18,12,1,6,...,2,16,49,0,2017,8,15,1,0,1
3008772,3000885,2017-08-15,9,30,2419.729,148,18,12,1,6,...,2,16,49,0,2017,8,15,1,0,1
3008773,3000886,2017-08-15,9,31,121.000,8,18,12,1,6,...,2,16,49,0,2017,8,15,1,0,1
3008774,3000887,2017-08-15,9,32,16.000,0,18,12,1,6,...,2,16,49,0,2017,8,15,1,0,1

In [143]:
df['holiday_type'].unique()

array([3, 4, 6, 0, 2, 5, 1])

df.select_dtypes(include=[object, bool]).apply(le.fit_transform)