In [1]:
import pandas as pd
import numpy as np

In [2]:
#path='C:/Users/FT-LT74/Desktop/notes/github/time-series-forecasting-store-sales/data/interim/'
path='C:/Users/jiahu/Desktop/Data Science Sample Prac/github_repos/time-series-forecasting-store-sales/data/interim/'

In [3]:
df=pd.read_csv(path+'merged_df.csv')
df

C:\Users\jiahu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3343: DtypeWarning: Columns (12,13,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,transactions,dcoilwtico,holiday_type,locale,locale_name,description,transferred
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,NaN,NaN,Holiday,National,Ecuador,Primer dia del ano,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008770,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,2155.0,47.57,NaN,NaN,NaN,NaN,NaN
3008771,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,2155.0,47.57,NaN,NaN,NaN,NaN,NaN
3008772,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,2155.0,47.57,NaN,NaN,NaN,NaN,NaN
3008773,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,2155.0,47.57,NaN,NaN,NaN,NaN,NaN
3008774,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,2155.0,47.57,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3008775 entries, 0 to 3008774
Data columns (total 17 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int64
 1   date          datetime64[ns]
 2   store_nbr     int64
 3   family        object
 4   sales         float64
 5   onpromotion   int64
 6   city          object
 7   state         object
 8   store_type    object
 9   cluster       int64
 10  transactions  float64
 11  dcoilwtico    float64
 12  holiday_type  object
 13  locale        object
 14  locale_name   object
 15  description   object
 16  transferred   object
dtypes: datetime64[ns](1), float64(3), int64(4), object(9)
memory usage: 390.2+ MB

## Date

In [4]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [5]:
df['Year']=df['date'].dt.year

In [6]:
df['Month']=df['date'].dt.month

In [7]:
df['Day']=df['date'].dt.day

Monday=0, Sunday=6

In [8]:
df['DayofWeek']=df['date'].dt.dayofweek

## check transferred holiday

In [9]:
df.head(2)

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,dcoilwtico,holiday_type,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,...,NaN,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,...,NaN,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1

In [10]:
df[df['transferred']==True]

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,dcoilwtico,holiday_type,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek
500775,500742,2013-10-09,1,AUTOMOTIVE,5.00000,0,Quito,Pichincha,D,13,...,101.63,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2
500776,500743,2013-10-09,1,BABY CARE,0.00000,0,Quito,Pichincha,D,13,...,101.63,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2
500777,500744,2013-10-09,1,BEAUTY,0.00000,0,Quito,Pichincha,D,13,...,101.63,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2
500778,500745,2013-10-09,1,BEVERAGES,913.00000,0,Quito,Pichincha,D,13,...,101.63,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2
500779,500746,2013-10-09,1,BOOKS,0.00000,0,Quito,Pichincha,D,13,...,101.63,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10,9,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999860,2991973,2017-08-10,9,POULTRY,291.82098,0,Quito,Pichincha,B,6,...,48.54,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3
2999861,2991974,2017-08-10,9,PREPARED FOODS,111.93000,1,Quito,Pichincha,B,6,...,48.54,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3
2999862,2991975,2017-08-10,9,PRODUCE,1036.43900,6,Quito,Pichincha,B,6,...,48.54,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3
2999863,2991976,2017-08-10,9,SCHOOL AND OFFICE SUPPLIES,148.00000,10,Quito,Pichincha,B,6,...,48.54,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3
2999864,2991977,2017-08-10,9,SEAFOOD,14.35000,0,Quito,Pichincha,B,6,...,48.54,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,8,10,3

In [11]:
df['holiday_type'].unique()

array(['Holiday', nan, 'Work Day', 'Additional', 'Event', 'Transfer',
       'Bridge'], dtype=object)

In [12]:
df[df['holiday_type']=='Transfer']

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,dcoilwtico,holiday_type,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek
504339,504306,2013-10-11,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,...,102.17,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False,2013,10,11,4
504340,504307,2013-10-11,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,...,102.17,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False,2013,10,11,4
504341,504308,2013-10-11,1,BEAUTY,2.000,0,Quito,Pichincha,D,13,...,102.17,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False,2013,10,11,4
504342,504309,2013-10-11,1,BEVERAGES,539.000,0,Quito,Pichincha,D,13,...,102.17,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False,2013,10,11,4
504343,504310,2013-10-11,1,BOOKS,0.000,0,Quito,Pichincha,D,13,...,102.17,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False,2013,10,11,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3001642,2993755,2017-08-11,9,POULTRY,525.224,22,Quito,Pichincha,B,6,...,48.81,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False,2017,8,11,4
3001643,2993756,2017-08-11,9,PREPARED FOODS,112.100,3,Quito,Pichincha,B,6,...,48.81,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False,2017,8,11,4
3001644,2993757,2017-08-11,9,PRODUCE,1453.078,6,Quito,Pichincha,B,6,...,48.81,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False,2017,8,11,4
3001645,2993758,2017-08-11,9,SCHOOL AND OFFICE SUPPLIES,140.000,7,Quito,Pichincha,B,6,...,48.81,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False,2017,8,11,4
3001646,2993759,2017-08-11,9,SEAFOOD,23.831,0,Quito,Pichincha,B,6,...,48.81,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False,2017,8,11,4

In [13]:
df[df['holiday_type']=='Work Day']

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,dcoilwtico,holiday_type,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek
7128,7128,2013-01-05,1,AUTOMOTIVE,5.000,0,Quito,Pichincha,D,13,...,NaN,Work Day,National,Ecuador,Recupero puente Navidad,False,2013,1,5,5
7129,7129,2013-01-05,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,...,NaN,Work Day,National,Ecuador,Recupero puente Navidad,False,2013,1,5,5
7130,7130,2013-01-05,1,BEAUTY,3.000,0,Quito,Pichincha,D,13,...,NaN,Work Day,National,Ecuador,Recupero puente Navidad,False,2013,1,5,5
7131,7131,2013-01-05,1,BEVERAGES,1160.000,0,Quito,Pichincha,D,13,...,NaN,Work Day,National,Ecuador,Recupero puente Navidad,False,2013,1,5,5
7132,7132,2013-01-05,1,BOOKS,0.000,0,Quito,Pichincha,D,13,...,NaN,Work Day,National,Ecuador,Recupero puente Navidad,False,2013,1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2518654,2510833,2016-11-12,9,POULTRY,529.684,1,Quito,Pichincha,B,6,...,NaN,Work Day,National,Ecuador,Recupero Puente Dia de Difuntos,False,2016,11,12,5
2518655,2510834,2016-11-12,9,PREPARED FOODS,158.774,2,Quito,Pichincha,B,6,...,NaN,Work Day,National,Ecuador,Recupero Puente Dia de Difuntos,False,2016,11,12,5
2518656,2510835,2016-11-12,9,PRODUCE,1618.001,2,Quito,Pichincha,B,6,...,NaN,Work Day,National,Ecuador,Recupero Puente Dia de Difuntos,False,2016,11,12,5
2518657,2510836,2016-11-12,9,SCHOOL AND OFFICE SUPPLIES,3.000,0,Quito,Pichincha,B,6,...,NaN,Work Day,National,Ecuador,Recupero Puente Dia de Difuntos,False,2016,11,12,5
2518658,2510837,2016-11-12,9,SEAFOOD,18.678,3,Quito,Pichincha,B,6,...,NaN,Work Day,National,Ecuador,Recupero Puente Dia de Difuntos,False,2016,11,12,5

In [39]:
def check_holiday(x):
    if x['transferred']==True or x['holiday_type']=='Work Day': 
        return 'No'
    elif x['holiday_type']==np.nan: 
        return 'No'
    else: 
        return 'Yes'

In [40]:
df['Is_Holiday_Celebrated'] = df.apply(check_holiday, axis=1)

In [41]:
df

,id,date,store_nbr,family,sales,onpromotion,city,state,store_type,cluster,...,holiday_type,locale,locale_name,description,transferred,Year,Month,Day,DayofWeek,Is_Holiday_Celebrated
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1,Yes
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1,Yes
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1,Yes
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1,Yes
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,...,Holiday,National,Ecuador,Primer dia del ano,False,2013,1,1,1,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008770,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,NaN,2017,8,15,1,Yes
3008771,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,NaN,2017,8,15,1,Yes
3008772,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,NaN,2017,8,15,1,Yes
3008773,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,NaN,2017,8,15,1,Yes
3008774,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,...,NaN,NaN,NaN,NaN,NaN,2017,8,15,1,Yes

In [42]:
df[df['Is_Holiday_Celebrated']=='No']['holiday_type'].unique()

array(['Work Day', 'Holiday'], dtype=object)